$color-primary: #AA1313;

$color-secondary: #FFFFFF;

$color-text-primary: #333333;

$border-style: 1px solid #333333;

$yellow: #FFE1A8;

$pale-yellow: #ffedcb;

$light-green: #9BB068;

$dark-green: #367359;

$brown: #E0916F;